<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetworkExtension</key>
	<dict>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.packet-tunnel</key>
			<string>$(PRODUCT_MODULE_NAME).PacketTunnelProvider</string>
		</dict>
	</dict>
	<key>com.clever_vpn_kit.app_group_id</key>
	<string>${APP_GROUP_ID}</string>
	<key>com.clever_vpn_kit.keychain_group_id</key>
	<string>${APP_GROUP_ID}</string>
</dict>
</plist>
