// You Apple developer account's Team ID.
DEVELOPMENT_TEAM =  MK7X98FMYX


// Absolute Path to the directory that Xcode creates in:
//  ~/Library/Developer/Xcode/DerivedData/UpVPN-<random>/SourcePackages
// (This is the path to the local git checkout of the Swift package dependency for WireGuardKit.)
SOURCE_PACKAGES_DIR = /Users/bolinwu/Library/Developer/Xcode/DerivedData/CleverVpnFramework-cebozuutmfworaatrraswnrryzvq/SourcePackages
